.footer-section{
    background-color: #05133b;
    color: #94bdd7
}

.footer-row{
    justify-content: center;
    padding: 50px;
}
.footer-row p{
    color: #ffffff;
}

.footer-col p{
color: #fff;
padding: 0px 10px;
font-family: 'MyFont';
}

.footer-col h5{
    font-family: 'MyFont';
}