* {
  font-size: 100%;
}

@media (max-width: 767px) {
  * {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 60%;
  }
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../assets/font-family/BasierCircle-Regular.woff) format('woff');
  
}

h1 {
  font-family: 'MyFont' ;
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  color: #000000;
}

h2 {
  font-family: 'MyFont' ;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 34px;
  color: #ffff;
  padding: 10px;
}

h3 {
  font-family: 'MyFont' ;
  font-style: normal;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 46px;
  color: #000;
  padding: 10px;
}

h4 {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 1.25rem;
  line-height: 24px !important;
  color: #000000;
  padding: 10px;
}

p {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #818181;
}


.navbarPage{
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.10);
  background-color: #ffffff;
}

.landing-container{
  padding: 0px;
  /* background-color: #f3f5f7; */
}

.landing-row{
  /* padding: 80px; */
  /* padding: 20px; */
}

.landing-form-select{
  border: 1px solid #000 !important;
  height: 3.75rem;
}

.benifitpage-container{
  padding: 5rem 0px;
}

.benifitpage-col h6{
  color: #818181;
  padding: 0px 0.6rem;
}

.carousel-container{
  padding: 2.5rem 0px;
}

.background-img {
  background-image: url("https://html.design/demo/viseas/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.text-container {
  position: relative;
  color: white; /* Text color */
  padding: 3.1rem; /* Adjust padding as needed */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25));
  height: 100vh;
}

.start-btn{
    margin-top: 2.3rem;
}
/* testimonials css.................................. */

/* Testimonials Container */
.testimonials-container {
  padding: 3.1rem 0;
}

/* Testimonials Heading */
.testimonials-heading {
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: underline;
}

/* Individual Testimonial */
.testimonial {
  padding: 1.25rem;
}

/* Avatar Image */
.avatar {
  width: 12.5rem;
  height: 12.5rem;
}

/* Testimonial Quote */
.quote {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 10px;
}

/* Testimonial Author */
.author {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Additional Paragraph */
.additional-paragraph {
  font-size: 1rem;
}


/* visa type................................................................. */

.visatype-col{
  display: flex;
  padding: 30px;
}

.visatype-col h4{
  padding: 5px;
}

.visatype-card{
  display: flex;
  justify-content: center;
}

.cardBody_visatype{
  border: 1px solid black;
  cursor: pointer;
}


/* stepper css................ */

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #ce202f !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

.css-1hv8oq8-MuiStepLabel-label {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

.Mui-active .css-z7uhs0-MuiStepConnector-line {
  border-color: #ce202f !important;
  border-top-width: 10px !important;
  margin-top: 5px !important;
}
.Mui-completed .css-z7uhs0-MuiStepConnector-line {
  border-color: #ce202f !important;
  border-top-width: 10px !important;
  margin-top: 5px !important;
}
.Mui-disabled .css-z7uhs0-MuiStepConnector-line {
  border-color: #fafafa !important;
  border-top-width: 10px !important;
  border-radius: 18px !important;
  margin-top: 5px !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  height: 1em !important;
  font-size: 3rem !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: #ce202f !important;
}
.css-z7uhs0-MuiStepConnector-line
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-disabled {
  fill: #ffffff !important;
  /* border: 3px solid #ce202f !important; */
  border-radius: 50% !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #ffffff !important;
  border: 3px solid #ce202f !important;
  border-radius: 50% !important;
  z-index: 1 !important;
}

.css-117w1su-MuiStepIcon-text {
  fill: #000 !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-disabled {
  color: #ffffff !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #ffffff !important;
  border: 1px solid #e9e9e9 !important;
  border-radius: 50% !important;
}


/* Our services.............................. */

.services h3{
  position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.25rem;
    text-align: center;
}

.service-row .box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding: 1.87rem 1.5rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service-row .box img{
  width: 4.6rem;
}

.service-row .detail-box {
  margin-left: 1.5rem;
}

.service-row .detail-box h5{
  font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.service-row .detail-box .read-btn{
  display: inline-block;
  padding: 8px 35px;
  background-color: #ce202f;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 10px;
}


/* Contact us........................ */
.background-contact-img{
  background-image: url("https://html.design/demo/viseas/images/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
}

.text-container-contact{
  position: relative;
  color: white; /* Text color */
  padding: 50px; /* Adjust padding as needed */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25));
  height: 80vh;
}

.btn .main-btn{
  margin-top: 10px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 3.1rem;
    background-color: #ce202f;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    font-weight: bold;
}


/* About section................................. */

.about-section{
  background-color: #071a52;
  padding: 5.6rem 0px;
}
.about-img-box img{
  width: 100%;
}
.detail-box{
  background-color: #ffffff;
    padding: 1.5rem 1.25rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-left: -45px;
  }

  @media screen and (max-width: 767px) {
    .detail-box {
      margin-left: 0px;
    }
  }

.about-box{
  display: flex;
  align-items: center;
}
.detail-box p{
  margin-top: 10px;
}